// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/foundation-global"; // *always required
// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

// Modular Scale
//----------------------
//  16px @ 1:1.618  
//  32px @ 1:1.618  
//----------------------

// Custom imports, variables and mixins

  @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Scada);

  $heading-font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  $secondary-heading-font-family: 'Scada', 'Helvetica', 'Arial', sans-serif;
  $body-background-image: url('../images/binding_light.png');

  @mixin box-shadow {
    box-shadow: 1px 1px 10px 5px rgba(26,26,26,0.17);
    -webkit-box-shadow: 1px 1px 10px 5px rgba(26,26,26,0.17);
  }
  @mixin text-shadow {
    text-shadow: 2px 2px 5px #000000;
  }
  @mixin text-indents {
    p {
      margin-bottom: 0;
    }

    p + p {
      text-indent: 2em;
      margin-top: 0;
    }
    h4:first-child {
      margin-top: 0;
    }
    h4 {
      margin-top: 0.764em;
    }
  }


//Custom styles

body {
  background-image: $body-background-image;
  font-family: "Georgia", serif;
}

h3, h4 {
  font-family: $heading-font-family;
  color: white;
}

h3 {
  margin-bottom: 1em;
  font-size: 2em;
}

abbr {
  font-variant: small-caps;
  font-weight: 600;
  //letter-spacing: 0.1em;
  text-transform: lowercase;
  color: white;
  border-bottom: 0px;
  cursor: auto;
}

.top-bar-section ul li > a {
  height: 45px;
}


.top-bar {
  font-family: $heading-font-family;
  margin-bottom: 0;

  .right {
    text-transform: uppercase;

    img { 
      margin-right: 5px; 
      height: 9px;
    }

    i {
      vertical-align: top;
    }

  }

  h1 {
    font-family: $heading-font-family;
  }

}

.section {
  padding-bottom: 2em;
  padding-top: 2em;
  color: white;
  @media only screen and (min-width: 1024px) { min-height: 768px; }
  @media only screen and (min-width: 1280px) { min-height: 800px; }

  h3 {
    margin-top: 1em;
    border-bottom: 7px solid #FFFFFF;
  }

  i {
    vertical-align: top;
  }
}

#main {
    //padding-top: 2.5em;
    //padding-bottom: 2.5em;
    background: #7E2A4C;
    background: rgba(126, 42, 76, 0.95);
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, circle farthest-corner, #7E2A4C 0%, #5C1F37 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle farthest-corner, #7E2A4C 0%, #5C1F37 100%);
    /* Opera */ 
    background-image: -o-radial-gradient(center, circle farthest-corner, #7E2A4C 0%, #5C1F37 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #7E2A4C), color-stop(1, #5C1F37));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #7E2A4C 0%, #5C1F37 100%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-corner at center, #7E2A4C 0%, #5C1F37 100%);

    h1 {
      font-size: 3.236em;
      line-height: 135%;
      margin-bottom: 15px;
      color: white;
      font-family: $heading-font-family;
      @include text-shadow;
    }

    h2 {
      color: white;
      font-size: 1.9em;
      font-weight: 400;
      margin-bottom: 1em;
      font-family: $secondary-heading-font-family;
    }

    #intro {
      background: #0D2026;
      font-size: 16px;
      margin-bottom: 0;
      border-bottom: 0;
      @include box-shadow;

      p, abbr { color: white; }
    }

    #logos {
      margin-top: 0;
      @include box-shadow;
      
      img {
        margin-right: 10px;
        height: 30px;
//        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
//        filter: gray alpha(opacity=100); /* IE6-9 */
//        -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
//        -webkit-transition: all .3s ease; /* Fade to color for Chrome and Safari */
//       -webkit-backface-visibility: hidden; /* Fix for transition flickering */
      }
    }
}

#showcase {
  @include text-indents;

  h3 {
    color: #222;
    border-bottom: 7px solid #222;
  }

  abbr {
    color: #222;
  }
}

#counseling {
  background-color: #3c3c3c;
  background: rgba(60, 60, 60, 0.6);
  //@include text-indents;

  ul li {
    color: #222;
    margin-left: 15px;
  }

  small { 
    color: #222; 
    font-size: 0.75em;
  }

  #first-div, #second-div, #third-div, #fourth-div {
    border: 0;
  }

  #first-div, #second-div {
   background-color: #FFFFCC; 
  }

  #third-div {
    background-color: #E6FFCC;
  }

  #fourth-div {
    background-color: #FFFFEB;
  }

}

#ict {
  background: #254E6F;
  background: rgba(37, 78, 111, 1);

  #features li {
    margin-left: 25px;
  }

}

#researchers {
  background: #14303D;
  background: rgba(20, 48, 61, 1);

  .large-block-grid-4 {
    li {
       text-align: center;
    }
  }

  abbr {
    letter-spacing: 0.1em;
  }

  h4 {
    margin-top: 0.8em;
    margin-bottom: 1em;
  }

  ul li h4 {
    font-size: 1em;
    margin-bottom: 0;
  }
  ul li p {
    font-size: 0.8em;
    margin-bottom: 0;
  }

  img {
    margin-top: 10px;
    height: 70px;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
  }

}

#publications {
  background: #0D2026;
  background: rgba(13, 32, 38, 1) repeat;
  min-height: 950px;

  blockquote p {
    color: #a4dbea;
  }

  h4 {
    clear:both;
  }

  img {
    width: 171px;
    float: left;
    margin-right: 2em;
    margin-bottom: 1em;
  }

  p {
    color: white;
    font-size: 90%;
  }

  .sub-nav {
    a { color: #CCC; }
  }

  .active {
    a { color: white; }
  }

  .tabs li, span {
    display: inline;
    float: left;
    font-size: 0.875em;
    font-weight: normal;
    margin-bottom: 0.625em;
    margin-left: 0.5625em;

    a:hover {
      color: white;
    }
  }

  a.active {
    background: none repeat scroll 0 0 #2BA6CB;
    border-radius: 1000px 1000px 1000px 1000px;
    color: white;
    cursor: default;
    font-weight: bold;
    padding: 0.1875em 0.5625em;
  }

}
